<!--<router-outlet></router-outlet>-->

Animals:
<ul>
  <li *ngFor="let animal of this.zoo.getAnimals()">
    {{ animal.getName() }}
  </li>
</ul>

Guests:
<ul>
  <li *ngFor="let guest of this.zoo.getGuests()">
    {{ guest.getName() }}
  </li>
</ul>
